
select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1px;
    /* 콤보박스의 Padding + Border 크키를 내용에 맞추기 위함 */
    /* 이것을 하지 않으면 상단의 텍스트 입력창보다 더 높이가 작게 나옴 */
    /* 크기 기준점이 달라지기 때문 */
    box-sizing: content-box;
}

.signinForm {
    position: absolute;
    width: 60%;
    height: 60%; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 16px solid rgb(255,208,103);
}

.signinForm button {
    position: relative;
    width: 80%;
    height: 30px;
    top: calc(20%);
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    /* 로그인 버튼에 미묘한( subtile ) 외부 그림자 효과 적용 */
    box-shadow:2px 2px 4px #d4d4d4;
}

.signinForm button:hover {
    background: rgb(255, 187, 39);
}

.inputField {
    position: relative;
    width: 80%;
    height: 20px;
    top: calc(12%);
    margin-top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: grid;
}

.inputField > label {
    font-family: 'nanum_square_bold';
    font-size: 11pt;
    color: #898989;
}

.inputField > input {
    display: block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 20px;
    /* 입력칸에 미묘한( subtile ) 내부 그림자 효과 적용 */
    box-shadow:inset 2px 2px 4px #d4d4d4;
}

.inputField > textarea {
    display: block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 20px;
    /* 입력칸에 미묘한( subtile ) 내부 그림자 효과 적용 */
    box-shadow:inset 2px 2px 4px #d4d4d4;
    resize: none;
}

.inputField > select {
    display: block;
    border: 2px solid #cccccc;
    border-radius: 4px;
    height: 20px;
    /* 입력칸에 미묘한( subtile ) 내부 그림자 효과 적용 */
    box-shadow:inset 2px 2px 4px #d4d4d4;
}


.koreantag {
    font-family: nanum_barun_gothic_yethangul;
    font-size: 10pt;
}