
body {
    margin: 0px;
    overflow: hidden;
}

#itemprevcontainer {
    position: absolute;
    width: 100%;
    height: 90%;
    float: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#maindownbanner {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    background: #c1c1c1;
}

#maindownbanner > div {
    position: relative;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    width: 80%;
    height: 80%;
    text-align: center;
}

#maindownbanner > div > div {
    height: 100%;
    width: 70px;
    display: inline-block;
}

#maindownbanner > div > div > img {
    position: relative;
    height: 80%;
    text-align: center;
}

#maindownbanner > div > div > p {
    position: relative;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: nanum_yebbeun_mingyeong;
    font-size: 15pt;
    color: #515151;
    top: -15%;
}

.itemview {
    background: white;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #b5b5b5;
}

.itemview > img {
    position: relative;
    width: 100%;
    height: 70%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}