
body {
    margin: 0px;
    padding: 0px;
}

#maindownbanner {
    position: relative;
    top: 20px;
    width: 100%;
    height: 100px;
    background: #c1c1c1;
}

#maindownbanner > div {
    position: relative;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    width: 80%;
    height: 80%;
    text-align: center;
}

#maindownbanner > div > div {
    height: 100%;
    width: 70px;
    display: inline-block;
}

#maindownbanner > div > div > img {
    position: relative;
    height: 80%;
    text-align: center;
}

#maindownbanner > div > div > p {
    position: relative;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: nanum_yebbeun_mingyeong;
    font-size: 15pt;
    color: #515151;
    top: -15%;
}

.mainbanner_container {
    position: relative;
    width: 100%;
    height: 360px;
    background: skyblue;
    overflow: hidden;
}

.mainbanner_content {
    width: 100%;
    height: 100%;
    flex: 1;
}

.mainbanner_group {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-in-out;
}