
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.infobox_item {
    position: relative;
    height: 100%;
    padding-left: 25px;
}

.shoustore_default_btn {
    display: block;
    background: rgb(255,208,103);
    border: none;
    font-family: 'busan_font_bold';
    color: #898989;
    font-size: 10pt;
}