
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.infobox_item {
    position: relative;
    height: 100%;
    padding-left: 25px;
}