body {
    /* 메인페이지 여백 제거 */
    margin: 0px;
    /* 화면 넓이가 1500 픽셀보다 작아지면 더 이상 내부요소들이 줄어드는것이 아니라 나머지 영역이 짤리게 만듬 */
    /* 이 작업을 하지 않으면 화면크기를 1500 픽셀 이하로 줄였을 때, 상단 검색창이 옆에 있는 로고 옆으로 곂쳐버림 */
    min-width: 1200px;
    /* 화면 크기가 넘어갔을 때, 스크롤을 숨김 ( 동작은 함 ) */
    -ms-overflow-style: none; /* For Edge */
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    /* 화면 크기가 넘어갔을 때, 스크롤을 숨김 ( 동작은 함 ) */
    display: none; /* For Chrome, Safari, Opera */
}

main {
    position: relative;
    width: 100%;
    display: block;
    min-height: 800px;
    background: white;
}

main > div {
    position: relative;
}

footer {
    position: relative;
    width: 100%;
    height: 120px;
    background: #252525;
    display: inline-table;
}

footer > div {
    position: absolute;
    width: fit-content;
    height: 80%;
    left: 40px;
    top: 10%;
    color: #adadad;
}

footer p {
    margin-block-end: 0em;
    margin-block-start: 5px;
    font-family: nanum_barun_gothic_yethangul;
    font-size: 12pt;
}

footer h2 {
    margin-block-end: 0em;
    margin-block-start: 10px;
    font-family: 'pto_reg';
    color: #d3d3d3;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.infobox_item {
    position: relative;
    height: 100%;
    padding-left: 25px;
}

.shoustore_default_btn {
    display: block;
    background: rgb(255,208,103);
    border: none;
    font-family: 'busan_font_bold';
    color: #898989;
    font-size: 10pt;
}

.itemcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.itemview {
    background: white;
    margin: 2px;
    height: 256px;
    border: 1px solid rgb(221, 221, 221);
}

.itemview > img {
    position: relative;
    width: 100%;
    height: 70%;
    border: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    display: block;
    content: '';
}

.mainarea {
    position: relative;
    width: 1024px;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.mainarea > h3 {
    font-family: 'nanum_square_bold';
    color:#aaaaaa;
    margin-block-end: 0em;
}

header {
    text-align: center;
    height: 72px;
    border-bottom: 1px solid #d0d0d0;
}

.header_wrapper {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 1024px;
    z-index: 16;
}

.header_wrapper > h1 {
    display: table;
    margin-block-end: 0em;
    margin-block-start: 0em;
    margin: 0em;
    position: relative;
    left: 20px;
    top: calc(50% - 20px);
    font-family: 'pto_reg';
    font-size: 22pt;
    color: rgb(255,208,103);
}

.searchdiv {
    position: absolute;
    width: 360px;
    height: 24px;
    left: calc(50% - 180px);
    top: calc(50% - 12px);
    display: inline-flex;
    border: solid 2px rgb(255,208,103);
}

.searchdiv > input {
    width: calc(100% - 24px);
    border: none !important;
    height: 0px !important;
}

.searchdiv > button {
    width: 24px;
    border: none;
    border-left: 1px solid #e7e7e7;
    background-color: white;
    background-image: url(../icons/searchicon.svg);
    background-size: 90% 90%;
    background-position: center;
}

.usermenu {
    position: absolute;
    float: right;
    width: 28px;
    height: 28px;
    right: 10px;
    top: calc(50% - 14px);
    background: url(../icons/menuicon.svg);
    background-size: 100% 100%;
    border: none;
}

.usermenu_dropdown {
    position: absolute;
    left: 880px;
    top: 48px;
    width: 128px;
    height: 64px;
    display: none;
}

.usermenu_dropdown > button {
    position: relative;
    width: 100%;
    height: 24px;
    padding: 0px;
    display: block;
    border: none;
    background: white;
    box-shadow: 0px 1px 4px rgb(205, 205, 205);
    font-family: 'nanum_square';
    color: #707070;
    line-height: 1em;
}

.usermenu_dropdown > button:hover {
    background: rgb(255,208,103);
    color: white;
}